body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F4F7F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#campoCodigo {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline-color: #007BFF;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #007BFF; /* Cor azul vibrante */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Efeito ao passar o mouse */
}

#labelResultado {
    text-align: center;
    font-size: 14pt;
    padding: 10px;
    background-color: #FBFBFB; /* Fundo sutil */
    border: 1px solid #F0F0F0;
    border-radius: 5px;
}
